<div class="whole-page">
    <img class="bg1 mx-auto d-flex justify-content-center" src="../../assets/collaborations/bg1.svg" alt="bg">
    <img class="bg2 mx-auto d-flex justify-content-center" src="../../assets/collaborations/bg2.svg" alt="bg">
    <img class="bg3 mx-auto d-flex justify-content-center" src="../../assets/collaborations/bg3.svg" alt="bg">
    <img class="logo mx-auto d-flex justify-content-center" src="../../assets/collaborations/CobyKatz_Makeshift_Logo_-_Black 1.svg" alt="logo">
    <span class="heading">COLLABORATIONS</span>

    <div class="footer">
        <div class="row">
            <div class="col-md-2">
                <ul>
                    <li><a class="page-links" href="#">GALLERY</a></li>
                </ul>
                <ul>
                    <li><a class="page-links" href="#">BEHIND THE CANVAS</a></li>
                </ul>
                <ul>
                    <li><a class="page-links" href="#">STAIRISM</a></li>
                </ul>
                <ul>
                    <li><a class="page-links" href="#">COLLECTIONS</a></li>
                </ul>
                <ul>
                    <li><a class="page-links" href="#">EXHIBITIONS</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li><a class="page-links" href="#">COLLABORATIONS</a></li>
                </ul>
                <ul>
                    <li><a class="page-links" href="#">TIMELINE</a></li>
                </ul>
                <ul>
                    <li><a class="page-links" href="#">PRESS</a></li>
                </ul>
                <ul>
                    <li><a class="page-links" href="#">SHOP</a></li>
                </ul>
                <ul>
                    <li><a class="page-links" href="#">CONTACT</a></li>
                </ul>
            </div>
            <div class="col-md-3 copyright-banner">
                <img class="c-sign" src="../assets/CobyKatz_Makeshift_Logo_-_White 4.png" alt="signature"><br>
                <span>All Rights Reserved, Coby Katz LLC.</span>
            </div>
            <div class="col-md-4">
                <div class="social-links">
                    <a><img class="social-icon" src="../assets/Screenshot 2022-05-21 015022.png" alt="ico"></a>
                    <a><img class="social-icon" src="../assets/Screenshot 2022-05-21 015056.png" alt="ico"></a>
                    <a><img class="social-icon" src="../assets/Screenshot 2022-05-21 015117.png" alt="ico"></a>
                    <a><img class="social-icon" src="../assets/Screenshot 2022-05-21 015134.png" alt="ico"></a>
                </div>
            </div>
        </div>
    </div>
</div>