<div class="wide-page row">
    <div class="stairism-section col-lg-3 col-md-3 col-sm-3 col-3 d-flex justify-content-center">
        <div class="odd-section stairism-section-text">
            <h1 class="section-title">STAIRISM</h1>
            <div class="desc-section">
                <p>Stair•ism</p>
                <p>/sta(ir)/izəm/</p>
                <p>Noun</p>
                <p>A 21st century art movement and philosophy in which the artist or writer seeks to express the journey
                    of
                    life through finding purpose in every step taken. </p>
            </div>
        </div>
    </div>
    <div class="motif-section col-lg-3 col-md-3 col-sm-3 col-3 d-flex justify-content-center">
        <div class="even-section motif-section-text">
            <h1 class="section-title">MOTIFS</h1>
            <div class="desc-section">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
            </div>
        </div>
    </div>
    <div class="updown-section col-lg-3 col-md-3 col-sm-3 col-3 d-flex justify-content-center">
        <div class="odd-section">
            <h1 class="section-title">UPS & DOWNS</h1>
            <div class="desc-section">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <button class="btn btn-outline-dark learn-more-button">Learn More</button>
            </div>
        </div>
    </div>
    <div class="artinbloom-section col-lg-2 col-md-2 col-sm-2 col-2 d-flex justify-content-center">
        <div class="even-section">
            <h1 class="section-title">ART IN BLOOM</h1>
            <div class="desc-section">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <button class="btn btn-outline-dark learn-more-button">Learn More</button>
            </div>
        </div>
    </div>
    <div class="ps-5 col-lg-1 col-md-1 col-sm-1 col-1">
        <div class="side-bar">
            <div class="vr vertical-line"></div>
        </div>
        <div class="pt-5">
            <ul>
                <li><a class="page-links" href="#">GALLERY</a></li>
            </ul>
            <ul>
                <li><a class="page-links" href="#">BEHIND THE CANVAS</a></li>
            </ul>
            <ul>
                <li><a class="page-links" href="#">STAIRISM</a></li>
            </ul>
            <ul>
                <li><a class="page-links" href="#">COLLECTIONS</a></li>
            </ul>
            <ul>
                <li><a class="page-links" href="#">EXHIBITIONS</a></li>
            </ul>
            <ul>
                <li><a class="page-links" href="#">COLLABORATIONS</a></li>
            </ul>
            <ul>
                <li><a class="page-links" href="#">TIMELINE</a></li>
            </ul>
            <ul>
                <li><a class="page-links" href="#">PRESS</a></li>
            </ul>
            <ul>
                <li><a class="page-links" href="#">SHOP</a></li>
            </ul>
            <ul>
                <li><a class="page-links" href="#">CONTACT</a></li>
            </ul>
        </div>
        <div class="copyright-banner">
            <img class="c-sign" src="../assets/CobyKatz_Makeshift_Logo_-_White 4.png" alt="signature"><br>
            <span>All Rights Reserved, Coby Katz LLC.</span>
        </div>
        <div class="social-links">
            <a><img class="social-icon" src="../assets/Screenshot 2022-05-21 015022.png" alt="ico"></a>
            <a><img class="social-icon" src="../assets/Screenshot 2022-05-21 015056.png" alt="ico"></a><br>
            <a><img class="social-icon" src="../assets/Screenshot 2022-05-21 015117.png" alt="ico"></a>
            <a><img class="social-icon" src="../assets/Screenshot 2022-05-21 015134.png" alt="ico"></a>
        </div>
    </div>
</div>