<div class="hero-section">
    <div class="box">
        <div class="inner-text">
            <span class="hero-text">EXHIBITIONS</span>
        </div>
    </div>
</div>
<div class="container coby-container">
    <div class="mt-5 mb-5">
        <span class="heading">PAST</span>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 d-flex justify-content-center">
            <div class="position-relative">
                <img class="picture-frame" src="../../assets/Exhibitions/Frame.svg" alt="picture frame">
                <img class="exh-picture" src="../../assets/Exhibitions/1.1.svg" alt="ExhibitionPicture">
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="position-relative">
                <img class="picture-frame" src="../../assets/Exhibitions/Frame.svg" alt="picture frame">
                <img class="exh-picture" src="../../assets/Exhibitions/1.2.svg" alt="ExhibitionPicture">
            </div>
        </div>
    </div>
    <div class="mt-5 mb-5">
        <p class="middle-text">“Step by Step Blvd”</p>
        <p class="middle-text">Jeff Hamilton Collaborative</p>
        <p class="middle-text">4.2.2022</p>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 d-flex justify-content-center">
            <div class="position-relative">
                <img class="picture-frame" src="../../assets/Exhibitions/Frame.svg" alt="picture frame">
                <img class="exh-picture" src="../../assets/Exhibitions/2.1.svg" alt="ExhibitionPicture">
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="position-relative">
                <img class="picture-frame" src="../../assets/Exhibitions/Frame.svg" alt="picture frame">
                <img class="exh-picture" src="../../assets/Exhibitions/2.2.svg" alt="ExhibitionPicture">
            </div>
        </div>
    </div>
    <div class="mt-5 mb-5">
        <p class="middle-text">“STAIRISM”</p>
        <p class="middle-text">Solo art exhibition</p>
        <p class="middle-text">8.1.2021</p>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 d-flex justify-content-center">
            <div class="position-relative">
                <img class="picture-frame" src="../../assets/Exhibitions/Frame.svg" alt="picture frame">
                <img class="exh-picture" src="../../assets/Exhibitions/3.1.svg" alt="ExhibitionPicture">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 d-flex justify-content-center">
            <div class="position-relative">
                <img class="picture-frame" src="../../assets/Exhibitions/Frame.svg" alt="picture frame">
                <img class="exh-picture" src="../../assets/Exhibitions/3.2.svg" alt="ExhibitionPicture">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 d-flex justify-content-center">
            <div class="position-relative">
                <img class="picture-frame" src="../../assets/Exhibitions/Frame.svg" alt="picture frame">
                <img class="exh-picture" src="../../assets/Exhibitions/3.3.svg" alt="ExhibitionPicture">
            </div>
        </div>
    </div>
    <div class="mt-5 mb-5">
        <p class="middle-text">“STAIRISM”</p>
        <p class="middle-text">Solo art exhibition</p>
        <p class="middle-text">8.1.2021</p>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 d-flex justify-content-center">
        </div>
        <div class="col-lg-4 col-md-4 d-flex justify-content-center">
            <div class="position-relative">
                <img class="picture-frame" src="../../assets/Exhibitions/Frame.svg" alt="picture frame">
                <img class="exh-picture" src="../../assets/Exhibitions/4.1.svg" alt="ExhibitionPicture">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 d-flex justify-content-center">
            <div class="position-relative">
                <img class="picture-frame" src="../../assets/Exhibitions/Frame.svg" alt="picture frame">
                <img class="exh-picture" src="../../assets/Exhibitions/4.2.svg" alt="ExhibitionPicture">
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>