<div class="wide-page">
    <img class="vctr-1" src="../../assets/Backgrounds/about-1.svg" alt="vctr">
    <img class="vctr-2" src="../../assets/Backgrounds/about-2.svg" alt="vctr">
    <img class="vctr-3" src="../../assets/Backgrounds/about-3.svg" alt="vctr">
    <div class="about-header">
        <span>ABOUT</span><br>
        <span class="header-user-name">COBY KATZ</span>
    </div>

    <img class="pic1" src="../../assets/about-me/1.1.png" alt="CobyKatz">
    <span class="text1">“Art always pushed me to take the next step through my journey of life. My goal is to enable
        viewers to self reflect, causing them to take a single step in the right direction, which can have a ripple
        effect on their lives forever.”</span>

    <img class="pic2" src="../../assets/about-me/2.png" alt="CobyKatz">
    <span class="text2-1">A NEW CONCEPT</span>
    <span class="text2-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</span>
    <button class="btn btn-outline-dark btn-1">Learn More</button>

    <img class="pic3" src="../../assets/about-me/3.png" alt="CobyKatz">
    <span class="text3-1">ART IN BLOOM</span>
    <span class="text3-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</span>
    <button class="btn btn-outline-dark btn-2">Learn More</button>

    <img class="pic4" src="../../assets/about-me/4.png" alt="CobyKatz">
    <span class="text4">Self-portrait, 2021</span>
</div>