<div class="coby-container">
    <img class="coby-logo" src="../../assets/CobyKatz_Makeshift_Logo_-_White 4.png" alt="logo">
    <nav class="coby-navbar navbar navbar-dark text-white mb-5">
        <h1></h1>
    </nav>
    <div class="container-fluid text-white">
        <div class="container coby-container-inner mt-5">
            <div class="row main-show">
                <div class="col-lg-6 col-md-6 col-sm-6 col-6 my-auto">
                    <div class="coll-pic-frame d-flex justify-content-center">
                        <img class="coll-frame-big" src="../../assets/timeline/Coby Katz Frame-07 2.svg"
                            alt="big-collection">
                        <img class="coll-img-big" src="../../assets/timeline/Eye to Eye 2big.svg" alt="big-collection">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <p class="heading">COLLECTION OF ROSES</p>
                    <span class="tag">COLLECTION ARCHETYPE</span>
                    <br>
                    
                    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

                    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

                    <p class="para">Description:</p>
                    <p class="para">---</p>

                    <p class="para">Dimensions:</p>
                    <p class="para">---</p>

                    <p class="para">Weight:</p>
                    <p class="para">---</p>
                    <button class="btn btn-outline-light common-button">Inquire</button>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>