<div class="coby-container">
    <img class="coby-logo" src="../../assets/CobyKatz_Makeshift_Logo_-_White 4.png" alt="logo">
    <nav class="coby-navbar navbar navbar-dark text-white mb-5">
        <h1></h1>
      </nav>
    <div class="container-fluid text-white">
        <div class="container coby-container-inner">
            <div class="title-year">
                <span class="coby-year">2017</span><br>
                <span class="coby-role">Brushmaster</span>
            </div>
            <div class="collection">
                <div class="collection-pic row mb-5">
                    <div class="col-lg-4 col-md-4">
                        <div class="coll-pic-frame">
                            <img class="coll-frame" src="../../assets/timeline/Coby Katz Frame-07 1.svg" alt="frame">
                            <img class="coll-img" src="../../assets/timeline/Eye to Eye 2.svg" alt="collection">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="coll-pic-frame">
                            <img class="coll-frame" src="../../assets/timeline/Coby Katz Frame-07 1.svg" alt="frame">
                            <img class="coll-img" src="../../assets/timeline/Eye to Eye 2.svg" alt="collection">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="coll-pic-frame">
                            <img class="coll-frame" src="../../assets/timeline/Coby Katz Frame-07 1.svg" alt="frame">
                            <img class="coll-img" src="../../assets/timeline/Eye to Eye 2.svg" alt="collection">
                        </div>
                    </div>
                </div>
                <div class="collection-action">
                    <p class="col-headline d-flex justify-content-center mt-1 mb-5">COLLECTION OF ROSES</p>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-outline-light common-button">Expand view</button>
                    </div>
                </div>
            </div>
            <div class="collection">
                <div class="collection-pic row mb-5">
                    <div class="col-lg-4 col-md-4">
                        <div class="coll-pic-frame">
                            <img class="coll-frame" src="../../assets/timeline/Coby Katz Frame-07 1.svg" alt="frame">
                            <img class="coll-img" src="../../assets/timeline/Eye to Eye 2.svg" alt="collection">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="coll-pic-frame">
                            <img class="coll-frame" src="../../assets/timeline/Coby Katz Frame-07 1.svg" alt="frame">
                            <img class="coll-img" src="../../assets/timeline/Eye to Eye 2.svg" alt="collection">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="coll-pic-frame">
                            <img class="coll-frame" src="../../assets/timeline/Coby Katz Frame-07 1.svg" alt="frame">
                            <img class="coll-img" src="../../assets/timeline/Eye to Eye 2.svg" alt="collection">
                        </div>
                    </div>
                </div>
                <div class="collection-action">
                    <p class="col-headline d-flex justify-content-center mt-1 mb-5">COLLECTION OF ROSES</p>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-outline-light common-button">Expand view</button>
                    </div>
                </div>
            </div>
            <div class="collection">
                <div class="coll-pic-frame d-flex justify-content-center">
                    <img class="coll-frame-big" src="../../assets/timeline/Coby Katz Frame-07 2.svg" alt="big-collection">
                    <img class="coll-img-big" src="../../assets/timeline/Eye to Eye 2big.svg" alt="big-collection">
                </div>
                <div class="collection-action">
                    <p class="col-headline d-flex justify-content-center mt-1 mb-5">ROSES</p>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-outline-light common-button">Expand view</button>
                    </div>
                </div>
            </div>
            <div class="collection">
                <div class="collection-pic row mb-5">
                    <div class="col-lg-4 col-md-4">
                        <div class="coll-pic-frame">
                            <img class="coll-frame" src="../../assets/timeline/Coby Katz Frame-07 1.svg" alt="frame">
                            <img class="coll-img" src="../../assets/timeline/Eye to Eye 2.svg" alt="collection">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="coll-pic-frame">
                            <img class="coll-frame" src="../../assets/timeline/Coby Katz Frame-07 1.svg" alt="frame">
                            <img class="coll-img" src="../../assets/timeline/Eye to Eye 2.svg" alt="collection">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="coll-pic-frame">
                            <img class="coll-frame" src="../../assets/timeline/Coby Katz Frame-07 1.svg" alt="frame">
                            <img class="coll-img" src="../../assets/timeline/Eye to Eye 2.svg" alt="collection">
                        </div>
                    </div>
                </div>
                <div class="collection-action">
                    <p class="col-headline d-flex justify-content-center mt-1 mb-5">COLLECTION OF ROSES</p>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-outline-light common-button">Expand view</button>
                    </div>
                </div>
            </div>
            <div class="collection">
                <div class="collection-pic row mb-5">
                    <div class="col-lg-4 col-md-4">
                        <div class="coll-pic-frame">
                            <img class="coll-frame" src="../../assets/timeline/Coby Katz Frame-07 1.svg" alt="frame">
                            <img class="coll-img" src="../../assets/timeline/Eye to Eye 2.svg" alt="collection">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="coll-pic-frame">
                            <img class="coll-frame" src="../../assets/timeline/Coby Katz Frame-07 1.svg" alt="frame">
                            <img class="coll-img" src="../../assets/timeline/Eye to Eye 2.svg" alt="collection">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="coll-pic-frame">
                            <img class="coll-frame" src="../../assets/timeline/Coby Katz Frame-07 1.svg" alt="frame">
                            <img class="coll-img" src="../../assets/timeline/Eye to Eye 2.svg" alt="collection">
                        </div>
                    </div>
                </div>
                <div class="collection-action">
                    <p class="col-headline d-flex justify-content-center mt-1 mb-5">COLLECTION OF ROSES</p>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-outline-light common-button">Expand view</button>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>