<nav class="navbar navbar-light bg-light fixed-top bg-transparent">
  <div class="container-fluid">
    <button class="navbar-toggler navbar-toggle-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon" [ngClass]="className"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <img class="sidebar-mini-stair d-flex mx-auto" src="../assets/Icons/sidebar-mini-stair.svg" alt="...">
        <ul class="navbar-nav coby-nav-links-group justify-content-end flex-grow-1 pe-3 mb-5">
          <li class="nav-item">
            <a class="nav-link coby-nav-link active" aria-current="page" routerLink="/"
              routerLinkActive="active" (click)="clickEvent('white')">GALLERY</a>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="nav-item">
            <a class="nav-link coby-nav-link" routerLink="/BehindTheCanvas" routerLinkActive="active" (click)="clickEvent('black')">BEHIND THE
              CANVAS</a>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="nav-item">
            <a class="nav-link coby-nav-link" routerLink="/Stairism" routerLinkActive="active" (click)="clickEvent('white')">STARISIM</a>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link coby-nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              COLLECTIONS
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">

              <li><a class="dropdown-item coby-nav-link" routerLink="/Nfts" routerLinkActive="active" (click)="clickEvent('black')">NFTs</a></li>
              <li><a class="dropdown-item coby-nav-link" routerLink="/Canvas" routerLinkActive="active" (click)="clickEvent('black')">Canvas</a></li>
              <li><a class="dropdown-item coby-nav-link" href="#">Silkscreen</a></li>
              <li><a class="dropdown-item coby-nav-link" routerLink="/Sculptures" routerLinkActive="active" (click)="clickEvent('white')">Sculptures</a></li>
              <li><a class="dropdown-item coby-nav-link" href="#">Murals</a></li>
              <li><a class="dropdown-item coby-nav-link" href="#">Monastairism</a></li>
            </ul>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="nav-item">
            <a class="nav-link coby-nav-link" routerLink="/Exhibitions" routerLinkActive="active" (click)="clickEvent('black')">EXIBITIONS</a>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="nav-item">
            <a class="nav-link coby-nav-link" routerLink="/Collaborations" routerLinkActive="active" (click)="clickEvent('black')">COLLABORATIONS</a>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="nav-item">
            <a class="nav-link coby-nav-link" routerLink="/TheTimeLine" routerLinkActive="active" (click)="clickEvent('white')">PRESS</a>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="nav-item">
            <a class="nav-link coby-nav-link" routerLink="/CollectionOverview" routerLinkActive="active" (click)="clickEvent('white')">SHOP</a>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="nav-item">
            <a class="nav-link coby-nav-link" routerLink="/TimeLineOverView" routerLinkActive="active" (click)="clickEvent('white')">CONTACT</a>
          </li>
        </ul>

        <div class="sidebar-footer">
          <div class="mt-5">
            <img src="../assets/img/WhatsApp.jpeg" class="img-fluid w-50" alt="">
          </div>
          <div class="d-flex justify-content-around align-items-end">
            <img class="social-icons img-fluid" src="../assets/Icons/instagram-black.svg" alt="...">
            <img class="social-icons img-fluid" src="../assets/Icons/twitter-black.png" alt="...">
            <img class="social-icons img-fluid" src="../assets/Icons/Boat-black.svg" alt="...">
            <img class="social-icons img-fluid" src="../assets/Icons/Email-black.svg" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container-fliud">
  <router-outlet></router-outlet>
</div>