<div class="coby-container">
    <img class="coby-logo" src="../../assets/CobyKatz_Makeshift_Logo_-_White 4.png" alt="logo">
    <nav class="coby-navbar navbar navbar-dark text-white mb-5">
        <h1></h1>
    </nav>
    <div class="container-fluid text-white">
        <div class="container coby-container-inner">
            <div class="title-year">
                <span class="page-title">TIMELINE</span>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="timeline-year-role left">
                        <p class="year">2017</p>
                        <p class="role">Brushmaster</p>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-outline-light common-button">Explore</button>
                        </div>
                    </div>
                    <div class="timeline-year-role left">
                        <p class="year">2019</p>
                        <p class="role">Connected</p>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-outline-light common-button">Explore</button>
                        </div>
                    </div>
                    <div class="timeline-year-role left">
                        <p class="year">2021</p>
                        <p class="role">Stairism</p>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-outline-light common-button">Explore</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="timeline-year-role right">
                        <p class="year">2018</p>
                        <p class="role">Identity Crisis</p>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-outline-light common-button">Explore</button>
                        </div>
                    </div>
                    <div class="timeline-year-role right">
                        <p class="year">2020</p>
                        <p class="role">Linework</p>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-outline-light common-button">Explore</button>
                        </div>
                    </div>
                    <div class="timeline-year-role right">
                        <p class="year">2022</p>
                        <p class="role">Turning Point</p>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-outline-light common-button">Explore</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="stair-section">
                        <img class="position-absolute bg1" src="../../assets/timeline-overview/1.svg" alt="bg">
                        <img class="position-absolute bg2" src="../../assets/timeline-overview/2.svg" alt="bg">
                        <img class="position-absolute bg3" src="../../assets/timeline-overview/3.svg" alt="bg">
                        <img class="position-absolute bg4" src="../../assets/timeline-overview/4.svg" alt="bg">
                        <img class="position-absolute bg5" src="../../assets/timeline-overview/5.svg" alt="bg">
                        <img class="position-absolute bg6" src="../../assets/timeline-overview/6.svg" alt="bg">
                        <img class="position-absolute bg7" src="../../assets/timeline-overview/7.svg" alt="bg">
                        <img class="position-absolute bg8" src="../../assets/timeline-overview/8.svg" alt="bg">
                        <img class="position-absolute bg9" src="../../assets/timeline-overview/9.svg" alt="bg">
                        <img class="position-absolute bg10" src="../../assets/timeline-overview/10.svg" alt="bg">
                        <img class="position-absolute bg11" src="../../assets/timeline-overview/11.svg" alt="bg">
                        <img class="position-absolute bg12" src="../../assets/timeline-overview/12.svg" alt="bg">
                        <img class="position-absolute bg13" src="../../assets/timeline-overview/13.svg" alt="bg">
                        <img class="position-absolute bg14" src="../../assets/timeline-overview/14.svg" alt="bg">
                        <img class="position-absolute bg15" src="../../assets/timeline-overview/15.svg" alt="bg">
                        <img class="position-absolute bg16" src="../../assets/timeline-overview/16.svg" alt="bg">
                        <img class="position-absolute bg17" src="../../assets/timeline-overview/17.svg" alt="bg">
                        <img class="position-absolute bg18" src="../../assets/timeline-overview/18.svg" alt="bg">
                    </div>
                </div>
            </div>
            
            <!-- <div class="years-section">
                <div class="odd">
                    <p>Lol</p>
                </div>
                <div class="even">

                </div>
            </div> -->
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>